# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.jpg
/Output_Data
/Policy_Bank
/Screenshots
/World_Config
*.txt
*.csv
*.pdf
/__pycache__/
./idea
/.idea
/venv
*.c
*.so
